

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



li{
    margin:-3px;
}

/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    border:solid black;
    display: block;
    padding: 8px;
    background-color: gray;
    width: auto;
    height: auto;
    text-align: center;




}


.navbar ul{
    list-style: none;

}
.menu > li{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    left: 10px;
    border: solid black;
    padding:1px;

    text-align: center;



}
.menu > li >a{

    padding: 15px 60px;
    color: #ffffff;
    text-decoration: none;
}


.menu li a:hover{
    color: Red;
    transition: all .3s;
}
.menu{
    font-family: "titlefont",monospace;
    letter-spacing: 1px;

}




body{
    background: #313D52;
    font-family:verdana, monospace;
}

.imagen{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.contenedor {
    width: 100%;
    max-width:1000px;
    margin:0 auto;
    overflow:hidden;
}

header {
    background: black;
    margin:20px 0;
    border: solid black;
}

h1 {
color: #FFF;
padding: 20px 0;
text-align: center;
}

.main {
    width: 68%;
    background: #FFF;
    padding: 20px;
    float: left;
    margin-right:2%;
    box-sizing:border-box;
    text-align:justify;
    margin-top:10px;
}

.main img {
width: 100%;
height: auto;
}

aside {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    background: #CCC;
    float: left;
    text-align: justify;
}

footer {
    clear: both;
    float: left;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    color: #FFF;
    background: #000;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1545px) {
    .main {
        width: 100%;
    }

    aside {
        width: 100%;
    }
    .menu > li{
        position: relative;
        display: flex;
        left:auto;
        right:auto;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;


    }
    a {
        width: 100%;
    }
    .menu > li >a{
        text-align: center;
    }


}
    @media screen and (max-width: 400px) {
        .contenedor {
            width: 100%;
        }

        aside {
            float:bottom;
        }

        }

