
body::-webkit-scrollbar{
    width: 7px;
    background:black;
}

body::-webkit-scrollbar-thumb{
    background: yellow;
    border-radius: 10px;
}

.texto2{
text-decoration: none;
}

.texto200{
    position: relative;
    top: 1100px;
}

.barramenu{
    display: none;
    position: absolute;
    z-index: 2;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main img{
    margin-top: -20px;
    margin-left: -20px;

}

.mainimg{
    position: absolute;
    width: 10px;
}

.eltodo{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

body{
    max-width: 2000px;
    width: 100%;
    position: relative;
    padding-right:0;
}


header{
    width: 100%;
}

.barra500{
    width: 100%;
    max-width: 7000px;
    height: 50px;
}

.barra200{
    width: 100%;
    max-width: 2000px;
}

.iconify10{
position: absolute;
    z-index: 2;
    left: 230px;
    top: 8px;
}


.iconify20{
    position: absolute;
    z-index: 2;
    left: 680px;
    top: 11px;
}

.iconify30{
    position: absolute;
    z-index: 2;
    left: 1009px;
    top: 7px;
}



/** Menú lateral **/


label{
    color:white;
    position: relative;
    top: 35px;
    right: 10px;
    transition: 970ms;
}

.content-all label{
    width: 100%;
    max-width: 1000px;
    top:14px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    z-index: 10;

}

.content-all{
    width: 100%;
    max-width: 1000px;
    background: red;

}

#check{
    display: none;
}

#check:checked ~ .menu2{
    width: 700px;
    margin-bottom: -220px;
    height: 300px;

}

#check:checked ~ label{
    top:15px;
}

#check:checked ~ .main{
position: relative;
    margin-bottom: 10px;
}

.barra5{
    margin-top:-600px;
    transition: all 1000ms;
    overflow: hidden;
    max-width: 2000px;
    width: 100%;
}

.barra12{
    display: none;
}

.barra50{
    max-width: 2000px;
    width: 100%;
}

#check:checked ~ .barra5{
margin-top: -290px;
}



.menu2{
    bottom: 630px;
    position: relative;
    height: 0;
    left: 270px;
    width: 700px;
    margin: -10px;
}


.menu2 li{
    position: relative;

    margin: 25px;
    padding: 16px;
    color: white;
    transition:all 300ms;
    display: block;
    width: 400px;
    font-family: fuente_3, monospace;
    font-size: 30px;
    text-shadow: 1px 1px black;
    top: 160px;
    left: 129px;
    text-align: center;



}

.menu2 li:hover{
    background: rgba(0,0,0,0.2);
    margin-left: 70px;
    margin-bottom: -10px;
    border-bottom: 3px solid yellow;
    width: 300px;
}


.foto7{
    position: absolute;
    top: 57px;
    left: 1050px;
    max-width: 100%;
}









li{
    margin:-3px;
}

/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {

    padding: 8px;
    margin: 7px;
    width: 100%;
    height: auto;
    text-align: center;




}


.navbar ul{
    list-style: none;

}
.menu > li{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    left: 10px;

    padding:1px;

    text-align: center;



}
.menu > li >a{

    padding: 15px 60px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}


.menu li a:hover{
    color: yellow;
    transition: all .3s;
}
.menu{
    font-family: fuente_4,monospace;
    letter-spacing: 1px;
    font-weight: bold;


}

*{
margin: 0;
padding: 0;
}

body{
background-image: url("Imágenes/marble_texture_gray_146385_2560x1600.png");

    background-repeat: unset;
}


.contenedor{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}
.contenedor2{
    width: auto;
    max-width: 2000px;
    margin:-20px;
    overflow: hidden;

}

.main{
width: 100%;
bottom: 1000px;
padding: 20px;
    float: left;
    margin-right: 2%;
box-sizing: border-box;
    color: white;
}


.main img{
width: 100%;
}

footer{
clear: both;
float: left;
margin-top: 20px;
box-sizing: border-box;
    width: 100%;
padding: 20px;
    color: #FFF;
    background: #000;
    text-align: center;
    font-weight: bold;
}

.navbar{
    margin-top:35px;


}

.header1{

    height: 50px;
    color:black;
    margin: 0;
    max-width: 2000px;
    width: 100%;
}

.texto1 {
    position: absolute;
    z-index: 2;
    margin-left: 263px;
    margin-top: 13px;
    color: black;
    font-family: fuente_2,monospace;
    font-weight: bold;
}


.header2{
    border-bottom: 6px solid #5e6066;
    border-top:4px solid #5e6066;
    display: inline-block;
    height: 130px;
    color:white;
    margin: 0;
    width: 100%;
}

.barra2{
    position: absolute;
}

.forma1{
display: none;
    position: absolute;
    left: 265px;
    top:60px;

}

.texto2{
position: absolute;
    z-index: 2;
margin-left: 710px;
margin-top: 13px;
color: black;
    font-family: fuente_2,monospace;
    font-weight: bold;
}

.foto1{
position: absolute;
top:62px;
    left: 60px;
}

.forma2{
    position: absolute;
    margin-top: 0;
    margin-left: 255px;
}

.forma3{
    position: absolute;
    margin-top: 0;
    margin-left: 1215px;
}

.foto5{
    position: absolute;
    top:85px;
    margin-left: 210px;
}

.iconify{
z-index: 2;
    width: 70px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

.iconify1{
    position: relative;
    margin-left: 200px;

}

.iconify2{
    position: relative;
    margin-left:648px;

}

.iconify3{
    position: relative;
    margin-left: 987px;

}
.foto2{
    position: absolute;
    left:10px;
    top:20px;
}

.foto3{
    position: absolute;
    left: 320px;
    top:95px;
}

.foto4{
    position: absolute;
    margin-left: 1285px;
    margin-top:30px;
}


.header0{
    display: none;
    background: white;
    max-width: 1400px;
    width: 100%;
    height: 200px;
}

.barra3{
    position: absolute;
}

.barra40{
    position: absolute;
    display: none;
}

.barra42{
    position: absolute;
    display: none;
}

.barra400{
    position: absolute;
    display: none;

}

.texto3{
    z-index: 2;
    position: absolute;
    margin-left: 1050px;
    margin-top: 13px;
    color: black;
    font-family: fuente_2,monospace;
    font-weight: bold;
}

.barra1{
    position: absolute;
    z-index: 1;
}

.iconify4{
    position: absolute;
    color: white;
}



@font-face {
    font-family: fuente_1;
    src: url(Fuentes/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: fuente_2;
    src: url(Fuentes/gravity/Gravity-Light.otf);
}

@font-face {
    font-family: fuente_3;
    src: url(Fuentes/fracture_5758/Fracture5758-Regular.ttf);
}

@font-face {
    font-family: fuente_4;
    src: url(Fuentes/menulis/menulis.ttf);
}

@media screen and (min-width: 1950px){
    .contenedor2{
        max-width: 2500px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1521px){
.forma1{
    display: none;
}

    .foto3{
        display: none;
    }


    .foto5{
        display: none;
    }

    .forma3{
        right: 235px;
    }

    .foto4{
        right: 5px;
    }
}


@media screen and (max-width: 1400px){

    .texto1{
    position: absolute;
        left: -105px;

    }

    .iconify10{
        left: 125px;
    }

    .iconify20{
        left: 640px;
    }

    .texto2{
        position: absolute;
        left: -40px;
    }

    .iconify2{
        right: 40px;
    }
}

@media screen and (max-width: 1320px){
    .texto1{
        left: -105px;

    }


    .texto2{
        left: -80px;
    }

    .iconify20{
        left: 600px;
    }

    .texto3{
        left: -50px;
    }

    .iconify30{
        left: 960px;
    }

}


@media screen and (max-width: 1265px){
    .texto1{
        left: -130px;
    }

.iconify10{
    left: 100px;
}

    .texto2{
        left: -105px;
    }

    .iconify20{
        left: 575px;
    }


    .texto3{
        left: -75px;
    }

    .iconify30{
        left: 935px;
    }

}


@media screen and (min-width: 1240px){
.contenedor{
    max-width: 2000px;
}
    .contenedor2{
        max-width: 5000px;

    }
    .navbar {
        text-align: center;
        margin-right: auto;
        margin-left: auto;

    }

}


@media screen and (max-width: 1240px){

.barra50{
    height: 730px;
}

    .header0{
        height: 130px;
    }

    .header1{
    height: 50px;
   }

    .forma2{
        display: none;
    }

    .forma3{
        display: none;
    }

    .header2{
        display: none;
        border-top: 8px solid #5e6066;
    }
    .header0{
        display: inline-block;

    }

    .main img{
        position: absolute;
        margin-top: -283px;

    }

    .header0{
        margin-bottom: -50px;
    }
    .menu2 li{
        top: 245px;
    }

    .barramenu{
        display: inline-block;
    left: 40px;
    }
}

@media screen and (max-width: 1240px) and (min-width: 1170px){

    .header2{
        height: 262px;
    }

    .main {
        width: 100%;
    }

    .menu > li{
        position: relative;
        display: flex;
        width:100%;
        bottom:15px;
        margin-bottom: -7px;
        margin-left: -5px;

    }
    a {
        width: 100%;
    }
    .menu > li >a{
       width: 100%;
        margin-left: 200px;
        margin-right: auto;

    }
    .foto1{
        display: none;
    }

}


@media screen and (max-width: 1205px){
    .texto1{
        left: -140px;

    }

.iconify10{
    left: 90px;
}

    .texto2{
        left: -130px;
    }

.iconify20{
    left: 550px;
}

    .texto3{
        left: -120px;
    }

    .iconify30{
        left: 890px;
    }

}


@media screen and (max-width: 1170px) and  (min-width: 1096px){

    .header2{
        height: 262px;
    }

    .main {
        width: 100%;
    }

    .menu > li {
        position: relative;
        display: flex;
        width: 100%;
        margin-left:60px;
        bottom:15px;
        margin-bottom: -7px;
    }
    a {
        width: 100%;
    }
    .menu > li >a{
        width: 100%;
    }
    .foto1{
        display: none;
    }

}


@media screen and (max-width: 1145px){
    .texto1 {
        left: -140px;
    }

.iconify10{
    left: 90px;
}

    .texto2{
        left: -155px;
    }

.iconify20{
    left: 525px;
}

    .texto3{
        left: -180px;
    }

    .iconify30{
        left: 830px;
    }

}




@media screen and (max-width: 1096px) {
    .header2{
        height: 262px;
    }

    .main {
        width: 100%;
    }

    .menu > li {
        position: relative;
        display: flex;
        width: 100%;
        margin-left:auto;
        bottom:15px;
        margin-bottom: -7px;
    }
    a {
        width: 100%;
    }
    .menu > li >a{
        width: 100%;

    }
    .foto1{
        display: none;
    }

    .texto1 {
        left: -170px;
    }

    .iconify10{
        left: 60px;
    }

    .texto2{
        left: -185px;
    }

.iconify20{
    left: 495px;
}

    .texto3{
        left: -205px;
    }

.iconify30{
    left: 805px;
}

}

@media screen and (max-width: 1060px){
    .texto1 {
        left: -175px;
    }

    .iconify10{
        left: 55px;
    }

    .texto2{
        left: -210px;
    }

    .iconify20{
        left: 470px;
    }

    .texto3{
        left: -250px;
    }

    .iconify30{
        left: 760px;
    }

}

@media screen and (max-width: 995px){

    .texto1 {
        left: -185px;
    }

    .iconify10{
        left: 45px;
    }

    .texto2{
        left: -230px;
    }

    .iconify20{
        left: 450px;
    }

    .texto3{
        left: -285px;
    }

    .iconify30{
        left: 725px;
    }

}


@media screen and (max-width: 965px){

    .header1{
        height: 100px;
    }

    .barra1{
        display: none;
    }

    .barra40{
        display: inline-block;
        z-index: 1;
        max-width: 1500px;
        width: 100%;
    }

    .barra41{
        max-width: 1500px;
        width: 100%;
    }

    .texto1 {
        left: -210px;
        z-index: 2;
    }

    .iconify1{
        right: 210px;
        z-index: 2;
    }

    .texto2{
        left: -255px;
        z-index: 2;
    }

    .iconify2{
        right: 255px;
        z-index: 2;
    }

    .texto3{
        left: -300px;
        z-index: 2;
    }

    .iconify3{
        right: 300px;
        z-index: 2;
    }

    .barra5{
        margin-top: -600px;
    }


}

@media screen and (max-width: 965px){
    .header1{
        margin-top: -15px;
    }


    .texto1{
        position: absolute;
        left: 75px;
        top: 50px;
    }

    .iconify10{
        left: 305px;
        top: 58px;
    }


    .texto2{
        position: absolute;
        top: 12px;
        left: -500px;
    }

    .iconify20{
        left: 180px;
        top: 23px;
    }

    .texto3{
        position: relative;
        z-index: 2;
        top: 25px;
        left: -465px;
    }

    .iconify30{
        left: 545px;
        top: 20px;
    }

    .foto7{
        top:106px;
        z-index: 2;
        margin-left: -20px;
    }
}

@media screen and (max-width: 870px){
    .partewea{
    margin-left: -65px;
    }
    .texto3{
        left: -400px;
    }
}







    @media screen and (max-width: 400px){
        .contenedor {
        max-width: 100%;
        }
    }



/*Menú2*/

@media screen and (max-width: 1190px){
    .foto7 {
        left: 1010px;
    }
    .menu2{
        left: 255px;
    }

}
@media screen and (max-width: 1145px){
    .foto7 {
        left: 965px;
    }
    .menu2{
        left: 240px;
    }
}

@media screen and (max-width: 1100px){
    .foto7 {
        left: 920px;
    }
    .menu2{
        left: 220px;
    }
}

@media screen and (max-width: 1055px){
    .foto7 {
        left: 870px;
    }
    .menu2{
        left: 200px;
    }
}

@media screen and (max-width: 1010px){
    .foto7 {
        left: 830px;
    }
    .menu2{
        left: 170px;
    }
}

@media screen and (max-width: 950px){
    .foto7 {
        left: 795px;
        top:108px;
    }
    .menu2{
        left: 150px;
    }

    .barra12{
        position: relative;
        display: inline-block;
    }

    .barra5{
        display: none;
    }

    .barra12{
        margin-top:-570px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }

    #check:checked ~ .barra12{
        margin-top: -290px;
    }
}

@media screen and (max-width: 905px){
    .foto7 {
        left: 750px;
    }
    .menu2{
        left: 125px;
    }
}

@media screen and (max-width: 860px){
    .foto7 {
        left: 705px;
    }
    .menu2{
        left: 80px;
    }

    .texto1{
        left:-5px;
        top: 50px;
    }

    .iconify10{
        left: 225px;
    }

    .texto2{
        position: absolute;
        top: 12px;
        left: -550px;
    }

    .iconify20{
        left: 130px;
    }

    .texto3{
        top: 25px;
        left: -485px;
    }

    .iconify30{
        left: 460px;
    }

}

@media screen and (max-width: 815px){
    .foto7 {
        left: 650px;
    }
    .menu2{
        left: 65px;
    }

    .menu2 li{
    left: 135px;
    }

    .texto1{

    }
}

@media screen and (max-width: 770px){


    .barra40{
        display: none;
    }

    .barra42{
        display: inline-block;
        z-index: 1;
        max-width: 1500px;
        width: 100%;
    }

    .barra43{
        max-width: 1500px;
        width: 100%;
    }

    .texto1{
        position: absolute;
        left: 1px;
        top: 50px;
    }

    .iconify10{
        left: 230px;
        top: 58px;
    }
    .texto2{
        position: absolute;
        top:13px;
        left: -520px;
    }

    .iconify20{
        left: 160px;
        top: 23px;
    }

    .texto3{
        position: absolute;
        z-index: 2;
        top: 13px;
        left: -550px;
    }

    .iconify30{
        left: 460px;
        top: 20px;
    }

    .foto7{
        left: 605px;
    }

    .menu2{
        margin-left: -100px;
    }
    .menu2 li{
        left: 205px;
    }
}


@media screen and (max-width: 745px){

    .texto1{
        left: -55px;
        top: 50px;
    }

    .iconify10{
        left: 175px;
        top: 58px;
    }
    .texto2{
        top:13px;
        left: -570px;
    }

    .iconify20{
        left: 110px;
        top: 23px;
    }

    .texto3{
        top: 13px;
        left: -610px;
    }

    .iconify30{
        left: 400px;
        top: 20px;
    }

    .foto7{
        left: 590px;
    }

    .menu2 li{
        left:190px;
    }

}

@media screen and (max-width: 695px){

    .texto1{
        left: -55px;
        top: 50px;
    }

    .iconify10{
        left: 175px;
        top: 58px;
    }
    .texto2{
        top:13px;
        left: -570px;
    }

    .iconify20{
        left: 110px;
        top: 23px;
    }

    .texto3{
        top: 13px;
        left: -610px;
    }

    .iconify30{
        left: 400px;
        top: 20px;
    }

    .foto7{
        left: 540px;
    }

    .menu2 li{
        left: 160px;
    }

}

@media screen and (max-width: 670px){
    .menu2{
        margin-left: -250px;
    }
    .menu2 li{
        left: 300px;
    }
}

@media screen and (max-width: 645px){
    .texto1{
        left: -95px;
        top: 50px;
    }

    .iconify10{
        left: 135px;
        top: 58px;
    }
    .texto2{
        top:13px;
        left: -610px;
    }

    .iconify20{
        left: 70px;
        top: 23px;
    }

    .texto3{
        top: 13px;
        left: -670px;
    }

    .iconify30{
        left: 340px;
        top: 20px;
    }

    .foto7{
        left: 500px;
    }

    .menu2 li{
        left: 285px;
    }

    .menu2 li:hover{
        margin-left: 130px;
        width: 170px;
    }
}

@media screen and (max-width: 605px){
    .texto1{
        font-size: 13px;
        left: -95px;
        top: 52px;
    }

    .iconify10{
        left: 140px;
        top: 63px;
    }

    .iconify11{
        width: 22px;
    }

    .texto2{
        font-size: 13px;
        top:17px;
        left: -610px;
    }

    .iconify20{
        left: 70px;
        top: 27px;
    }

    .iconify21{
        width: 23px;
    }

    .texto3{
        font-size: 13px;
        top: 17px;
        left: -670px;
    }

    .iconify30{
        left: 340px;
        top: 24px;
    }

    .iconify31{
        width: 32px;
    }

    .foto7{
        left: 500px;
        top:103px;
    }

    .menu2 li{
        left: 270px;
        font-size: 27px;
        top: 280px;
    }

    .responsive{
        width: 90px;
    }

    .barra12{
        margin-top:-600px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }

    .menu2 li{
        top: 285px;
    }

    label{
        top: 18px;
    }

    #check:checked ~ label{
     top: 10px;
    }

    .barramenu{
        width: 50px;
    }

    #check:checked ~ .barra12{
        margin-top: -350px;
    }

    .menu2 li:hover{
        margin-left: 150px;
        width: 130px;
    }
}

@media screen and (max-width: 570px){

    .barra42{
    display: none;
    }

    .barra400{
        display: inline-block;
        z-index: 1;
        max-width: 580px;
        width: 100%;
    }

    .barra4000{
        width: 100%;
        height: 100px;
    }

    .texto1{
        left: -105px;
        top: 52px;
    }

    .iconify10{
        left: 133px;
        top: 63px;
    }

    .texto2{
        top:17px;
        left: -600px;
    }

    .iconify20{
        left: 80px;
        top: 27px;
    }


    .texto3{
        top: 17px;
        left: -715px;
    }

    .iconify30{
        left: 300px;
        top: 24px;
    }


    .foto7{
        left: 465px;
        top:103px;
    }

    .menu2 li{
        left: 250px;
        font-size: 27px;
        top: 285px;
    }

    .responsive{
        width: 90px;
    }

    .barra12{
        margin-top:-600px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }
}

@media screen and (max-width: 535px){
    .texto1{
        left: -120px;
        top: 52px;
    }

    .iconify10{
        left: 118px;
        top: 63px;
    }

    .texto2{
        top:17px;
        left: -620px;
    }

    .iconify20{
        left: 60px;
        top: 27px;
    }


    .texto3{
        top: 17px;
        left: -735px;
    }

    .iconify30{
        left: 280px;
        top: 24px;
    }

    .foto7{
        left: 430px;
        top:103px;
    }

    .menu2 li{
        left: 250px;
        font-size: 27px;
        top: 285px;
    }

    .responsive{
        width: 90px;
    }

    .barra12{
        margin-top:-600px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }

}

@media screen and (max-width: 515px){
    .menu2{
        margin-left: -300px;
    }

    .menu2 li{
        left: 285px;
    }
}

@media screen and (max-width: 505px){
    .texto1{
        font-size: 10px;
        left: -110px;
        top: 45px;
    }

    .iconify10{
        left: 128px;
        top: 56px;
    }

    .iconify11{
        width: 17px;
    }

    .texto2{
        font-size: 10px;
        top:17px;
        left: -610px;
    }

    .iconify20{
        left: 78px;
        top: 28px;
    }

    .iconify21{
        width: 17px;
    }

    .texto3{
        font-size: 10px;
        top: 17px;
        left: -755px;
    }

    .iconify30{
        left: 268px;
        top: 26px;
    }

    .iconify31{
        width: 22px;
    }

    .foto7{
        left: 425px;
        top:88px;
    }

    .responsive{
        width: 72px;
    }

    .menu2 li{
        left: 275px;
        font-size: 22px;
        top: 285px;
    }

    label{
        top: 0;
    }

    .barramenu{
        width: 40px;
    }

    .barra12{
        margin-top:-600px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }

    .barra4000{
        height: 85px;
    }

    .barra13{
        height: 685px;
    }
}

@media screen and (max-width: 480px){
    .texto1{
        font-size: 10px;
        left: -130px;
        top: 45px;
    }

    .iconify10{
        left: 108px;
        top: 56px;
    }

    .iconify11{
        width: 17px;
    }

    .texto2{
        font-size: 10px;
        top:17px;
        left: -630px;
    }

    .iconify20{
        left: 58px;
        top: 28px;
    }

    .iconify21{
        width: 17px;
    }

    .texto3{
        font-size: 10px;
        top: 17px;
        left: -775px;
    }

    .iconify30{
        left: 248px;
        top: 26px;
    }

    .iconify31{
        width: 22px;
    }

    .foto7{
        left: 410px;
        top:88px;
    }

    .responsive{
        width: 63px;
    }

    .menu2 li{
        left: 330px;
        font-size: 18px;
        top: 307px;
    }

    label{
        bottom: 5px;
    }

    .barramenu{
        width: 40px;
    }

    .barra12{
        margin-top:-600px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }

    .barra4000{
        height: 85px;
    }

    .barra13{
        margin-top:10px;
    }

    .barramenu{
        width: 30px;
    }

    #check:checked ~ .barra12{
        margin-bottom: -30px;
    }

    .barra12{
        margin-bottom: -4px;
    }
}

@media screen and (max-width: 480px){
    .menu2{
        margin-left: -450px;
    }

    .menu2 li{
        left: 405px;
    }
}

@media screen and (max-width: 455px){

    .texto1{
        font-size: 10px;
        left: -130px;
        top: 45px;
    }

    .iconify10{
        left: 108px;
        top: 56px;
    }

    .iconify11{
        width: 17px;
    }

    .texto2{
        font-size: 10px;
        top:17px;
        left: -620px;
        margin-right: 50px;
    }

    .iconify20{
        left: 68px;
        top: 28px;
    }

    .iconify21{
        width: 17px;
    }

    .texto3{
        font-size: 10px;
        top: 17px;
        left: -785px;
    }

    .iconify30{
        left: 238px;
        top: 26px;
    }

    .iconify31{
        width: 22px;
    }

    .foto7{
        left: 380px;
        top:88px;
    }

    .responsive{
        width: 63px;
    }

    .menu2 li{
        left: 645px;
        font-size: 18px;
        top: 307px;
        width: 200px;
    }


    .menu2 li:hover{
        margin-left: 55px;
        margin-bottom: -10px;
        width: 150px;
    }

    label{
        bottom: 5px;
    }

    .barramenu{
        width: 40px;
    }

    .barra12{
        margin-top:-600px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }

    .barra4000{
        height: 85px;
    }

    .barra13{
        margin-top:10px;
    }

    .barramenu{
        width: 30px;
    }

    #check:checked ~ .barra12{
        margin-bottom: -30px;
    }

    .barra12{
        margin-bottom: -4px;
    }

    .menu2{
        margin-left: -600px;
    }
}

@media screen and (max-width: 425px){
    .texto1{
        font-size: 10px;
        left: -160px;
        top: 45px;
    }

    .iconify10{
        left: 78px;
        top: 56px;
    }

    .iconify11{
        width: 17px;
    }

    .texto2{
        font-size: 10px;
        top:17px;
        left: -640px;
    }

    .iconify20{
        left: 48px;
        top: 28px;
    }

    .iconify21{
        width: 17px;
    }

    .texto3{
        font-size: 10px;
        top: 17px;
        left: -805px;
    }

    .iconify30{
        left: 218px;
        top: 26px;
    }

    .iconify31{
        width: 22px;
    }

    .foto7{
        left: 360px;
        top:88px;
    }

    .responsive{
        width: 63px;
    }

    .menu2 li{
        left: 500px;
        font-size: 18px;
        top: 307px;
    }

    label{
        bottom: 5px;
    }

    .barramenu{
        width: 40px;
    }

    .barra12{
        margin-top:-600px;
        transition: all 1000ms;
        overflow: hidden;
        max-width: 2000px;
        width: 100%;
    }

    .barra4000{
        height: 85px;
    }

    .barra13{
        margin-top:10px;
    }

    .barramenu{
        width: 30px;
    }

    #check:checked ~ .barra12{
        margin-bottom: -30px;
    }

    .barra12{
        margin-bottom: -4px;
    }

    .menu2{
        margin-left: -480px;
    }
}

@media screen and (max-width: 405px){
        .texto1{
            font-size: 10px;
            left: -160px;
            top: 45px;
        }

        .iconify10{
            left: 78px;
            top: 56px;
        }

        .iconify11{
            width: 17px;
        }

        .texto2{
            position: relative;
            width: 129px;
            font-size: 10px;
            top:31px;
            left: -590px;

        }

        .iconify20{

            left: 32px;
            top: 28px;
        }

        .iconify21{
            width: 17px;
        }

        .texto3{
            font-size: 10px;
            top: 17px;
            left: -805px;
        }

        .iconify30{
            left: 218px;
            top: 26px;
        }

        .iconify31{
            width: 22px;
        }

        .foto7{
            left: 330px;
            top:88px;
        }

        .responsive{
            width: 63px;
        }

        .menu2 li{
            left: 490px;
            font-size: 18px;
            top: 307px;
        }

        label{
            bottom: 5px;
        }

        .barramenu{
            width: 40px;
        }

        .barra12{
            margin-top:-600px;
            transition: all 1000ms;
            overflow: hidden;
            max-width: 2000px;
            width: 100%;
        }

        .barra4000{
            height: 85px;
        }

        .barra13{
            margin-top:10px;
        }

        .barramenu{
            width: 30px;
        }

        #check:checked ~ .barra12{
            margin-bottom: -30px;
        }

        .barra12{
            margin-bottom: -4px;
        }

        .menu2{
            margin-left: -480px;
        }
}